.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.stars {
  background:#000 url(https://c1.wallpaperflare.com/preview/302/309/318/milky-way-starry-sky-night-sky-star.jpg) repeat top center;
  z-index:0;
}
